<h1>検索結果</h1>
<h2>施設の合計件数：<%= @results.count %></h2>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>施設詳細</th>
      <th>宿泊料金（/日）</th>
      <th>住所</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |room| %>
      <tr>
          <td>
            <div class="room_image">
                <% if room.image? %>
                    <%= image_tag  room.image.thumb.url %>
                <% else %>
                    <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
                <% end %>
            </div>
          </td>
          <td><%= link_to room.name, room_path(room) %></td>
          <td><%= room.introduction %></td>
          <td><%= room.fee %></td>
          <td><%= room.address %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top', root_path %>